<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>InFood - {{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{scriptBase}}require.js" data-main="{{scriptBase}}main.js"></script>
    <script>
        var _apiToken = '{{apiToken}}';
    </script>
</head>
<body>
    {{^notAuth}}
    {{> menu}}
    {{/notAuth}}
    <div id="modal-1"></div>
    <div id="modal-2"></div>
    <div class="container" style="width: 95%; height: 100%;">
        <div class="local-ctx"></div>
        {{> content}}
    </div>
</body>
</html>