<div id="restInfo" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Сведения о ресторане</h4>
    </div>
    <form id="restForm">
        <div class="modal-body">
            <div id="rest-ctx"></div>
        </div>
        <div class="modal-footer">

        </div>
    </form>
</div>