<div class="controls">
    {{#canRegister user}}
    <div class="controlGroup" style="margin-left: 15px">
        <button id="newuser" type="button" class="btn btn-success" ><i class="glyphicon glyphicon-user"></i>&nbsp;<b>+</b></button>
    </div>
    {{/canRegister}}
    <div class="controlGroup" id="roleFilter">
        <label class="control-label">Роль:</label>
        <select id="roleSelect" class="selectpicker" data-width="180px" data-style="btn-primary">
        </select>
    </div>
    <div class="controlGroup" id="cityFilter">
        <label class="control-label">Город:</label>
        <select id="citySelect" class="selectpicker" data-width="180px" data-style="btn-primary">
        </select>
    </div>
    <div class="controlGroup" id="restFilter">
        <label class="control-label">Ресторан:</label>
        <select id="restSelect" class="selectpicker" data-width="180px" data-style="btn-primary">
        </select>
    </div>

</div>
<div id="mixit" class="mix-container">

</div>
<div class="pager-list bottom-align">
</div>
{{{require}}}